include ../../../mathigon.org/views/_templates/mixins

template#gallery
  .wrapper
    .panel
      content
  .btn.btn-bounce.next
    +icon('right', 32)
  .btn.btn-bounce.back
    +icon('left', 32)
  .dots
